.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  gap: var(--px100);
  margin: 0 auto;
}

.form {
  display: flex;
  gap: var(--px20);
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form textarea,
.form input {
  min-width: 300px;
  padding: var(--px20);
  border-radius: var(--borderR);
  border: none;
  outline: none;
  color: var(--text-light);
  background-color: var(--btn-accent);
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--text-light);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: var(--borderR);
  padding: var(--px20);
  min-width: 125px;
  font-weight: 600;
  max-width: fit-content;
  margin: 0 auto;
}

.btn:hover {
  box-shadow: 8px 8px var(--btn-accent);
  transition: 0.3s;
}
