.container {
  display: flex;
  gap: var(--px100);
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: var(--pHeadings);
}

.rightContainer {
  flex: 1;
  position: relative;
}

.imgContainer {
  position: relative;
}

.title {
  font-size: var(--fontSizeXl);
}

.subTitle {
  color: var(--btn-clr);
  font-size: var(--fontSizeSm);
}

.description {
  font-size: var(--fontSizeSm);
}

.infoGroup {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 660px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--px10);
  width: 100%;
}

.info h1 {
  color: var(--btn-clr);
}

.span {
  color: var(--btn-clr);
}

.aboutImg {
  position: relative;
  width: 450px;
  height: 450px;
}

.mobileImage {
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: var(--px20);
    text-align: center;
  }
  .aboutImg {
    height: 250px;
    width: 250px;
    display: none;
  }
  .mobileImage {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .infoGroup {
    flex-direction: column;
    gap: var(--px20);
    text-align: center;
  }

  .title {
    font-size: var(--fontSizeMd);
  }
}
