:root {
    /* variables */
    --bg-dark: #0f141d;
    --bg-dark-100: #1c2331;
    --bg-light: #f8f8f8;
    --text-dark: #0f141d;
    --text-light: #f8f8f8;
    --text-light-900: #ddd8d8;

    --btn-clr: #2563EB;
}

* {
    /* reset */
    margin: 0;
    padding: 9;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-light);
    color:var(--text-dark)
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
display: flex;
flex-direction: column;
justify-content: space-between;
margin: auto;
padding: 0 2.5rem;
width: 1536px;
min-height: 100vh;
}