.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--px20) 0px;
}
.logo {
  width: 8rem;
  max-width: 100%;
  height: auto;
}
.copyright {
  font-size: var(--fontSizeXSm);
}

.name {
  text-decoration: underline var(--btn-clr) 2px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: var(--px20);
    gap: var(--px20);
  }
}
