.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--px20) 0px;
}
.logo {
  width: 8rem;
  max-width: 100%;
  height: auto;
}
.copyright {
  font-size: var(--fontSizeXSm);
}
